<template name="EthereumAccount">
  <ul class="trader-account-list">
    <li>
      <button class="modal">
      {{#with ethAccount}}
        {{> dapp_identicon identity=address class="dapp-small"}}
        <h3>{{name}}</h3>
        <h3>&Xi; {{dapp_formatBalance balance "0,0.00[0000]" "ether"}}</h3>
      {{/with}}
      </button>
    </li>  
  </ul>
</template>

<template name="AccountList">
  <h3>Select Ethereum Account</h3>
    <ul class="trader-account-list">
    {{#each TemplateVar.get "ethAccounts"}}
    <li>
      <button class="accButton">
        {{> dapp_identicon identity=address class="dapp-medium"}}
        <h3>{{name}}</h3>
        <span>{{address}}</span>
        <h3>&Xi; {{dapp_formatBalance balance "0,0.00[0000]" "ether"}}</h3>
      </button>
    </li>  
    {{/each}}
    </ul>
</template>
